.upload-container .container {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-container .wrapper {
    height: 60vh;
    width: 27.5vw;
    border: 2px solid #393e46;
    border-radius: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.upload-container .wrapper > h2 {
    color:  #393e46; 
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.upload-container form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.upload-container form > input {
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.upload-container form > label {
    width: fit-content;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.upload-container form > label:hover {
    color: #555;
}

.upload-container form > button {
    outline: none;
    background-color: #393e46; 
    color: #fff;
    border-radius: 12px;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.upload-container form > button:hover {
    background-color: #fff;
    border-color:  #393e46; 
    color:  #393e46; 
}
