/* Container styles */
.suggested-user-container .container {
    margin-top: 0px;
}

.suggested-user-container .wrapper {
    width: 100%;
}

/* Profile section styles */
.suggested-user-container .myProfile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.suggested-user-container .profileUserImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.suggested-user-container .profileData {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    border-left: 1px solid #333;
    padding-left: 0.5rem;
}

.suggested-user-container .profileData > span:first-child {
    font-size: 20px;
    font-weight: 500;
}

.suggested-user-container .profileData > span:last-child {
    font-size: 15px;
    color: #555;
}

/* Suggested users section styles */
.suggested-user-container .suggestedUsers {
    margin-top: 0px;
}

.suggested-user-container .title {
    margin-top: 1.5rem;
    font-size: 22px;
    margin-bottom: 20px;
    
    margin-left: 15px;
}

/* Suggested users section styles */


.suggested-user-container .suggestedUser {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem; /* Increased padding for more space */
    background-color: #f9f9f9;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: 100%; /* Make each suggested user take full width */
    margin-bottom: 1rem; /* Add margin at the bottom for separation */
}

.suggested-user-container .suggestedUser:hover {
    background-color: #f0f0f0;
}

.suggested-user-container .imgUser {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.suggested-user-container .suggestedUserData {
    display: flex;
    flex-direction: column;
}

.suggested-user-container .suggestedUserData > :first-child {
    font-size: 18px;
    font-weight: bold;
}

.suggested-user-container .suggestedMsg {
    font-size: 14px;
    color: #777;
}

.suggested-user-container .followBtn {
    border: none;
    outline: none;
    background-color: #393e46;
    padding: 0.5rem 1.25rem;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.suggested-user-container .followBtn:hover {
    background-color: #393e46;
}

/* Responsive styles */
@media only screen and (max-width: 992px) {
    .suggested-user-container .imgUser {
        height: 40px;
        width: 40px;
    }

    .suggested-user-container .suggestedUserData > span:first-child {
        font-size: 16px;
        font-weight: 600;
    }

    .suggested-user-container .suggestedUserData > span:last-child {
        font-size: 13px;
    }

    .suggested-user-container .suggestedUser {
        gap: 0.75rem;
    }
}
